<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!--服务名称：唯一-->
    <dubbo:application name="export_stat_service"/>

    <!--注册zookeeper-->
    <dubbo:registry address="zookeeper://192.168.150.99:2181"/>

    <!--dubbo协议
       如果同时启动多个服务提供方，dubbo协议的端口要不同！！！
    -->
    <dubbo:protocol name="dubbo" port="20883"/>

    <!--扫描@Service注解所在包-->
    <dubbo:annotation package="com.itheima.service"/>
</beans>